<!DOCTYPE html>
<html>
    <head>
        <%- include('head'); -%>
        <title>AI4Bharat Xlit - Open-source transliterator for Indian languages</title> 
    </head>
    <body>
        <%- include('navigation'); -%>
        <div class="container main-content">
            <div style="width:642px; margin:0 auto; padding-top: 30px">
                <img src="images/main.gif" />
            </div>
            <!-- <div class="main-intro">
                <span style="color: grey; font-size: 20px">
                    Cross platform predictive transliterator for Indian languages
                </span>
            </div>
            <div>
                <div style="text-align: center">
                    <a href="/downloads" style="font-size: 20px;">Download</a>
                </div>
            </div> -->
        </div>
        <%- include('footer'); -%>
        <script src="javascripts/jquery-1.8.2.min.js"></script>

            <!-- scripts concatenated and minified via build script -->
            <!-- <script src="javascripts/plugins.js"></script> -->
            <!-- end scripts -->

        </body>
    </html>
