<header>
<div class="container">
    <div class="logo">
        <h1><a href="index.html" title="ai4bharat">ai4bharat</a></h1>
        <h2>“AI4Bharat Xlit” is an open-source transliterator for Indian languages</h2>
    </div>
    <div class="navigation">
        <section id="mainlinks">
        <a  href="editor.html">Try now</a>
        <!-- <a  href="/downloads" title="Download varnam">Download</a> -->
        <!-- <a  href="/docs">Documentation</a> -->
        <a  href="https://github.com/OneFourthLabs/Varnam-Transliteration-UI" target="_blank">Source code</a>
        <a  href="https://github.com/OneFourthLabs/Varnam-Transliteration-UI/issues" target="_blank">Bugs & Reports</a>
        </section>
    </div>
</div>
</header>
